# Gradle
.gradle/
build/
**/build/

# Local config
local.properties
*.iml

# IDE - IntelliJ / Android Studio
.idea/

# macOS
.DS_Store

# Native
.externalNativeBuild/
.cxx/

# Keystore / secrets
*.jks
*.keystore